<!--

  There are two ways of making the tracker:

  1. Using a traditional table component taken from the GOV.UK Design System, and adding each row manually to the table

  OR

  2. Using the method shown in this file, utilising NunJucks arrays, loops and if statements, where the logic used takes care of
     adding those table rows for you, all you need to do is add items in an array.

     The choice is completely youts!

     If you do choose to go with option 1, the following is the HTML for the table component

    <table class="govuk-table">
      <caption class="govuk-table__caption">Dates and amounts</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Amount</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First 6 weeks</th>
          <td class="govuk-table__cell">£109.80 per week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Next 33 weeks</th>
          <td class="govuk-table__cell">£109.80 per week</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total estimated pay</th>
          <td class="govuk-table__cell">£4,282.20</td>
        </tr>
      </tbody>
    </table>

 -->

{% extends "layout.html" %}

  {# Customise the page title here #}

  {% block pageTitle %}
    Design and research tracker
  {% endblock %}

  {# READ THE COMMENTS BELOW TO UNDERSTAND HOW THE TABLE WORKS #}

    {# Below is an array, a breakdown of the details of each of your items in data form. You can add any sort of identifier within the array along with it's description. #}

    {# The benefit of using the array below is, when you add more and more items here, the table at the bottom of this page, will constantly loop through this array. This means that any new items added ... #}

    {# ... will automatically be added into the table as a new row! #}

  {# EXAMPLE IDENTIFERS USED IN THE ARRAY EXPLANATION #}

    {# page = This is the high-level categorisation of the screen you want to add, for e.g. page = login can encapsulate the login page, forgotten password and sign-up, they would all share the same page = 'login' #}

    {# id = In the array below is used as the unique page URL, it doesn't need the .html e.g. id: 'login-page', id: 'sign-up-page', id: 'forgotten-password-page' #}

    {# name = The name is the information that is displayed in the table row, this will be the name of the page. Can either be lower case or upper e.g. name: 'Login Page' name: 'Sign-up Page' #}

    {# ur_confidence: This is where research insights are plugged into the table, this is where you will add the flag of low, medium or high for the confidence level of a specific page. #}

    {# ur_status: This is another research insight identifying if there is a sufficient amount of research done for a specific page, theres either sufficient, ongoing or not started. #}

    {# sign_off_status: This is to track the phase of the design and where it's at with stakeholders or management, it can be either signed-off, awaiting sign-off or blocked. #}

    {# css_class: This is where we inject some CSS into the table, tags when used properly can convey alot of meaning, the css class inherits whatever styles you have made in the application.scss file for a tag class in                  the table (this will make more sense when you see the table at the bottom of this file), the tags can have the same descriptions has the sign_off_status #}

  {# All of the above generates the table row, this is where you will be editiing information the most, once done, the for loops further down below will take care of adding new rows to the table! #}

  {# BEST PRACTICE WHEN ADDING NEW ITEMS INTO THE ARRAY #}

    {# Try to stick to using lower case for text that is not being displayed in the table #}

    {# For each new row you want in the table, add a comma after the ending curly bracket #}

    {# The final item within the array you can't have a comma after the curly bracket, trust me, I spent HOURS de-bugging to realise that. #}

    {# Add commas after each identifier, e.g. page: 'login', name: 'Login page', ... #}

  {# ARRAY START #}

  {% set items = [

    { page: 'login', id: 'login-page', name: 'Login page', ur_confidence: 'Low', ur_status: 'Ongoing', sign_off_status: 'signed-off', css_class: 'signed-off' },

    { page: 'account', id: 'account-page', name: 'Account page', ur_confidence: 'Medium', ur_status: 'Ongoing', sign_off_status: 'signed-off', css_class: 'signed-off' },

    { page: 'history', id: 'history-page', name: 'History page', ur_confidence: 'High', ur_status: 'Sufficient', sign_off_status: 'signed-off', css_class: 'signed-off' },

    { page: 'payments', id: 'payments-page', name: 'Payments page', ur_confidence: 'Low', ur_status: 'Ongoing', sign_off_status: 'signed-off', css_class: 'signed-off' },

    { page: 'orders', id: 'orders-page', name: 'Orders page', ur_confidence: 'High', ur_status: 'Sufficient', sign_off_status: 'signed-off', css_class: 'signed-off' }

  ] %}

  {# ARRAY FINISH #}

{% block content %}

<!-- Main Body Content START -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-!-padding-bottom-7"></div>

      <!--

        Hero Section

        This section includes:

          1. The title to the page
          2. The lead text,
          3. A link to a seperate page containing your teams sign-off process
          4. Quick links to the most used documents / prototypes etc.

      -->

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Design and Research Tracker</h1>
        <p class="govuk-body-l">This area is used as a brief explanation of the tracker and its purpose.</p>
        <a href="#" class="govuk-link">View our sign off process</a>

      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-!-padding-bottom-2"></div>
        <h1 class="govuk-heading-s">Quick links</h1>

        <!--

          Types of Quick links:

          1. Links that require a username and password - Details GOV.UK component used (https://design-system.service.gov.uk/components/details/)
          2. Links that do not require authentication - Normal GOV.UK link component used (https://design-system.service.gov.uk/styles/typography/#links)

        -->

        <details class="govuk-details" data-module="govuk-details" style="margin-left: 5px;">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Prototype link
            </span>
          </summary>
          <div class="govuk-details__text">
            <a href="#" class="govuk-link">Link to the prototype goes here</a>
            <div class="govuk-!-padding-bottom-4"></div>
            <p class="govuk-body">Username: prototypeV.1.2</p>
            <p class="govuk-body">Password: Sjidufh456!</p>
          </div>
        </details>

        <div class="govuk-!-padding-bottom-2"></div>
        <a href="#" class="govuk-link" style="margin-left: 30px;">Link to DevOps or Jira</a>
      </div>

      <!--

        Divider

      -->

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>

      <!--

        Hero Section FINISHES here

      -->

    </div>

    <div class="govuk-grid-row">

      <div class="govuk-!-padding-bottom-3"></div>

      <!-- Signed-off items -->

      <div class="govuk-grid-column-one-third" style="padding-left: 15px;">
        <div class="govuk-panel govuk-panel custom-card-green">
          <h1 class="govuk-panel__title custom-card-large-text">
            <div class="govuk-panel__body custom-card-small-text">
              Signed-off items
            </div>
            <div class="govuk-!-padding-bottom-5"></div>
            15
          </h1>
        </div>
      </div>

      <!-- Awaiting Sign-off -->

      <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel custom-card-yellow">
          <div class="govuk-panel__body custom-card-small-text">
            Awaiting Sign-off
          </div>
          <div class="govuk-!-padding-bottom-5"></div>
          <h1 class="govuk-panel__title custom-card-large-text">
            0
          </h1>
        </div>
      </div>

      <!-- Flagged items -->

      <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel custom-card-red">
          <a href="flagged-items.html">
            <div class="govuk-panel__body custom-card-small-text">
              Flagged items
            </div>
          </a>
          <div class="govuk-!-padding-bottom-5"></div>
          <h1 class="govuk-panel__title custom-card-large-text">
            4
          </h1>
        </div>
        <div class="govuk-!-padding-bottom-7"></div>
      </div>

      <!-- Filter Table -->

      {# This is where we wrap everything in a <form> tag and post it back to itself e.g. /index #}

      <form action="index" method="POST" role="form" style="padding-left: 15px;">

        <div class="govuk-grid-column-full">

          <div class="govuk-grid-row filters-bar">

            <div class="govuk-form-group govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">

              {# Item Type Selector #}

              {# This is the 'filters bar' #}
              {# All you really need to care about is the <select> #}
              {# Notice the name of the <select> is what will be available to us later as data.filter_type  #}

              <label class="govuk-label" for="filter_page">Page</label>

              <select class="govuk-select" id="filter_page" name="filter_page">

                <!-- This is the default option in the drop down -->

                <option value="all"
                  {% if not data.filter_page or data.filter_page == 'all' or data.filter == 'reset' %}selected{% endif %}>
                  All
                </option>

                <!-- These are the rest of the options within the Page dropdown -->

                <option value="page" {% if data.filter_page == 'login' and data.filter != 'reset' %}selected{% endif %}>Login</option>
                <option value="page" {% if data.filter_page == 'login' and data.filter != 'reset' %}selected{% endif %}>Account</option>
                <option value="page" {% if data.filter_page == 'login' and data.filter != 'reset' %}selected{% endif %}>History</option>
                <option value="page" {% if data.filter_page == 'login' and data.filter != 'reset' %}selected{% endif %}>Payments</option>
                <option value="page" {% if data.filter_page == 'login' and data.filter != 'reset' %}selected{% endif %}>Orders</option>

              </select>

            </div>

            <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop">
              <div class="govuk-!-padding-bottom-4"></div>
              <label class="govuk-label">&nbsp;</label>
              <button class="govuk-button" data-module="govuk-button" name="filter" value="update">Update</button>
              &nbsp;&nbsp;&nbsp;
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="filter"
                value="reset">Reset</button>
            </div>

          </div>

        </div>

        <div class="govuk-grid-column-full">

          {# Items table #}

          {# This is the items table #}
          {# Always show the table... unless we've previously set the 'hide_table' variable to true #}

          {% if not hide_table %}

          <table class="govuk-table items all-items" style="margin: 30px -15px 30px -15px;">

            <thead class="govuk-table__head">

              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Page</th>
                <th class="govuk-table__header" scope="col">UR confidence</th>
                <th class="govuk-table__header" scope="col">UR status</th>
                <th class="govuk-table__header" scope="col">Sign-off status</th>
              </tr>

            </thead>

            <tbody class="govuk-table__body">

              {# Loop through our dataset (array) called items and handle each 'item' at a time... #}

              {% for item in items %}

              {# If data.filter_type is not set #}
              {# Or if the value of data.filter_type is 'all' #}
              {# Or if the current item's type is equal to the value of data.filter_type #}
              {# Or if the current item's interaction is equal to the value of data.filter_type #}
              {# Then go ahead and show the item - using some of the attributes from the data to make each item dynamic #}

                {% if not data.filter_page or data.filter_page == 'all' or item.page == data.filter_page or data.filter == 'reset' %}

                      {% if not data.filter_ur_confidence or data.filter_ur_confidence == 'all' or item.ur_confidence == data.filter_ur_confidence or data.filter == 'reset' %}

                        {% if not data.filter_sign_off_status or data.filter_sign_off_status == 'all' or item.sign_off_status == data.filter_sign_off_status or data.filter == 'reset' %}

                        <tr id="item-{{ item.id }}" class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="/{{ item.id }}">{{ item.name }}</a></td>
                          <td class="govuk-table__cell">{{ item.ur_confidence }}</td>
                          <td class="govuk-table__cell">{{ item.ur_status }}</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag tag-{{ item.css_class }}">{{ item.sign_off_status }}</strong></td>
                        </tr>

                        {% endif %}

                      {% endif %}

                  {% endif %}

              {% endfor %}

            </tbody>

          </table>

          {% endif %}

        </div>
    </div>
</div>
</form>
</div>

</main>
</div>

{% endblock %}