{% extends "layout.html" %}

{% block pageTitle %}
RBA Design Pack
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">
                    Login page
                </li>
            </ol>
            <div class="govuk-!-margin-bottom-5"></div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Login page
        </h1>

        <!--
            Main Content Start
        -->

        <h3 class="govuk-heading-m" id="itemOverview">Item design overview</h3>


        <div class="govuk-!-padding-bottom-3"></div>
        <img src="/public/images/wireframe-design.png" class="img-responsive"
            alt="Contextual and meaningful text for the alt tag goes here">
        <p class="govuk-body govuk-!-font-size-14">Caption text explaining the image above.</p>
        <img src="/public/images/mockup-design.png" class="img-responsive"
            alt="Contextual and meaningful text for the alt tag goes here">
        <p class="govuk-body govuk-!-font-size-14">Caption text explaining the image above.</p>

        <!-- User Research Findings -->

        <h3 class="govuk-heading-m" id="workingForUsers">What's working for users?</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li></li>
        </ul>

        <h3 class="govuk-heading-m" id="notWorkingForUsers">What's isn't working for users?</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li></li>
            <li></li>
        </ul>

        <h3 class="govuk-heading-m" id="nextSteps">Next steps</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li></li>
        </ul>

        <h3 class="govuk-heading-m" id="nextSteps">View detailed research insights (beta) on Google slides</h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="" target="_blank">Sprint 9 - Slide 4</a>
            </li>
        </ul>

        <div class="govuk-!-padding-bottom-5"></div>

        <!-- Design Justifications -->

        <h3 class="govuk-heading-m" id="designJustifications">Design justifications</h3>

        <h4 class="govuk-heading-s" id="visualFeedback">Heading</h4>
        <p class="govuk-body">Brief explanation describing why a certain component for example was used.</p>

        <div class="govuk-!-padding-bottom-5"></div>
        <a href="#" class="govuk-link" id="toTopLink">Back to top</a>

    </div>

    <div class="govuk-grid-column-one-third">
        <!-- UR Status -->
        <div class="govuk-heading-s" style="margin-bottom: 10px;">UR status</div>
        <strong class="govuk-tag yellow-tag">Ongoing</strong>
        <div class="govuk-!-padding-2"></div>
        <!-- Sign-Off Status -->
        <div class="govuk-heading-s" style="margin-bottom: 10px;">Sign-off status</div>
        <strong class="govuk-tag green-tag">Signed Off</strong>
        <div class="govuk-!-padding-2"></div>
        <!-- Usability Rating -->
        <div class="govuk-heading-s" style="margin-bottom: 10px;">Overall usability rating</div>
        <strong class="govuk-tag grey-tag">Not yet rated</strong>
    </div>

</div>

<script>
    var toToplink = document.getElementById("toTopLink");

    // When a user clicks the link, they will go back to the top of the current page they are on
    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}